apiVersion: 1

datasources:
  - name: loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: traceID
          matcherRegex: 'trace id: ([0-9a-fA-F-]{16,})'
          url: '$${__value.raw}'
          datasourceUid: tempo
